<launch>

    <!--- Start AMCL Localization -->
    <include file="$(find mr_navigation)/launch/start_amcl_localization.launch" />
    
    <!-- Start EKF Localization -->
    <include file="$(find mr_localization)/launch/start_ekf_localization.launch" />
    
    <!-- Start Move Base -->
    <include file="$(find mr_navigation)/launch/move_base_map.launch" />

</launch>
