<?xml version="1.0"?>

<launch>

  <!-- Load joint controller configurations from YAML file toparameter server -->
  <rosparam file="$(find mr_description)/config/mr_control.yaml" command="load"/>

  <!-- load the controllers -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
        output="screen" ns="/mr"  args="joint_state_controller
                                        swerve_front_right_link_position_controller
                                        swerve_back_right_link_position_controller
                                        swerve_back_left_link_position_controller
                                        swerve_front_left_link_position_controller"/>

  <!-- convert joint states to TF transforms for rviz, etc -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
        respawn="false" output="screen">
    <remap from="/joint_states" to="/mr/joint_states" />
  </node>

</launch>